<h1>this is my index page</h1>
<h1> this is my ansible node os is : </h1>
<h1> this is my ansinble node IP is :</h1>
<h1> this is my ansible node java package: </h1>
<h1> what is my webserver package: </h1>
